@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.space {
  width: 100%;
  height: 100%;
}

body {
  cursor:
    url("/cursor.png") 8 8,
    auto;
}
